.intro {
  &__icon {
    position: relative;
    top: -28px;

    margin: 0 auto;
  }

  &__desc {
    margin: 20px auto;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
