html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  background-color: rgb(240, 240, 240);
}

h1,
h2,
p {
  line-height: 1.5rem;
}

img {
  max-width: 100%;
  display: inline-block;
}
